<!DOCTYPE html>
<html>
  <head>
    <title>Drum Machine</title>

    <script type='text/javascript'
      src='/javascripts/vendor/howler.min.js'>
    </script>
    
    <script type='text/javascript'
      src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js'>
    </script>

    <script type='text/javascript'
      src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.js'>
    </script>

    <script type='text/javascript'
      src='/javascripts/drums/app.js'>
    </script>

    <script type='text/javascript'
      src='/javascripts/drums/IndexCtrl.js'>
    </script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/drum.less' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' />
  </head>
  
  <body ng-app='drums'>
    <div ng-view></div> 
  </body>
</html>
