body {
  font-size: 13px;
  font-family: 'Open Sans', 'Helvetica', 'sans-serif';
  font-weight: 300;
  background: #2a2b3c;
  color: #fff;
}
#container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
#controls {
  display: block;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
div.control {
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #60638b;
  display: inline-block;
  padding: 1.0em 2.0em;
  position: relative;
}
div.control i {
  cursor: pointer;
}
div.control.active {
  color: #38b0e2;
}
.high {
  color: #ff6666;
}
.med {
  color: #ee8e33;
}
.low {
  color: #eed833;
}
.tick {
  font-size: 46px;
  margin-right: 5px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}
table .instrument-name {
  text-align: center;
  font-weight: 700;
  padding: 0 1.0em;
}
table tr {
  padding: 0.3em;
}
table tr td:first-child {
  padding-left: 0.3em;
}
table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}
table > td {
  padding: 5px;
}
.current-tick {
  background-color: blue;
}
.end-of-play {
  border-right: 3px solid #000;
}
.tick-0,
.tick-1,
.tick-2,
.tick-3,
.tick-8,
.tick-9,
.tick-10,
.tick-11,
.tick-16,
.tick-17,
.tick-18,
.tick-19,
.tick-24,
.tick-25,
.tick-26,
.tick-27,
.tick-32,
.tick-33,
.tick-34,
.tick-35,
.tick-40,
.tick-41,
.tick-42,
.tick-43,
.tick-48,
.tick-49,
.tick-50,
.tick-51,
.tick-56,
.tick-57,
.tick-58,
.tick-59 {
  color: #dfe0e8;
}
.tick-4,
.tick-5,
.tick-6,
.tick-7,
.tick-12,
.tick-13,
.tick-14,
.tick-15,
.tick-20,
.tick-21,
.tick-22,
.tick-23,
.tick-28,
.tick-29,
.tick-30,
.tick-31,
.tick-36,
.tick-37,
.tick-38,
.tick-39,
.tick-44,
.tick-45,
.tick-46,
.tick-47,
.tick-52,
.tick-53,
.tick-54,
.tick-55,
.tick-60,
.tick-61,
.tick-62,
.tick-63 {
  color: #afb0c5;
}
